[2018-12-20 08:46] hzhmybatis opened #1 "hello brpc.占个楼"

[2018-12-21 05:34] wenweihu86 commented on #1
谢谢关注

[2018-12-21 05:34] #1 closed

[2019-01-11 06:39] psxbmbb opened #8 "未来会支持HTTP2吗？"
brpc未来会支持HTTP2吗？

[2019-01-11 06:45] wenweihu86 commented on #8
@psxbmbb 有计划支持。目前正在重新实现http协议，以便于可以http和tcp同端口。
你们对该需求有预期时间么？

[2019-01-11 07:03] psxbmbb commented on #8
@wenweihu86
目前还处于一个前期调研的阶段，对http2的需求没有预期时间。

[2019-01-12 04:37] fingthinking opened #9 "POJO类中boolean类型的变量建议不要以isXXX命名"
参考阿里巴巴Java手册：

虽然下面的这些Case并不需要序列化，但其属性命名存在一定的不规范，如: fromRpcContext与isFromRpcContext属性，使用lombok生成的method，均为`isFromRpcContext()`, 容易产生一定的误导，而Setter方法，则均为`setFromRpcContext(boolean )`

个人建议，如果是类内部属性，不会作为POJO类(即存在Getter, Setter属性)的话，加is, 否则不要加is

https://github.com/baidu/brpc-java/blob/aba698ad4695b350a0fb347da4fe828b5fbb81ea/brpc-java-core/src/main/java/com/baidu/brpc/server/RpcServerOptions.java#L33

[2019-01-12 05:44] fingthinking opened #10 "建议XxxPacket均实现同一个空接口Packet"
如题，这样，这个方法的定义将可以返回一个Packet接口类型，对开发人员更加友好:
com.baidu.brpc.protocol.Protocol
[code]

[2019-01-12 12:46] wenweihu86 commented on #9
@fingthinking 多谢给出建议，确实去掉is更好。如果方便的话，可否帮忙提个pull request修复下？

[2019-01-12 12:49] wenweihu86 commented on #10
恩，我觉得建议ok。如果方便的话，可以提个pull request，谢谢

[2019-01-13 02:17] fingthinking commented on #10
@wenweihu86 OK，晚上和另外一个一起弄一下

[2019-02-16 14:56] wenweihu86 commented on #10
@fingthinking 我们最近合并了http和tcp编解码函数，http的包类使用的是netty提供的，无法继承公共基类，所以这个更新暂时不适用了。

[2019-02-16 14:56] #10 closed

[2019-02-26 08:51] lichenglingl opened #22 "maven工程依赖parentPOM文件"
MAVEN工程引入brpc-java-spring2.0.2依赖后报错
Failure to find com.baidu:brpc-java-parent:pom:2.0.2
在http://central.maven.org/maven2/com/baidu/ 下仅找到
brpc-java/                                                       -         -
brpc-java-spring/

[2019-02-26 10:40] wenweihu86 commented on #22
@lichenglingl brpc-java-spring 2.0.2是存在的呀。brpc-java-naming-zookeeper包含在即将发布的版本中，代码已经测试完成，这两天会发布到maven中央仓库。

[2019-02-27 01:05] lichenglingl commented on #22
brpc-java-spring 2.0.2是存在的
问题是独立的MAVEN工程引入brpc-java-spring 2.0.2后，需要下载brpc-java-parent:pom:2.0.2
报错Failure to find com.baidu:brpc-java-parent:pom:2.0.2

[2019-02-27 06:06] wenweihu86 commented on #22
@lichenglingl 你改成2.2.0应该没问题了。

[2019-02-28 12:06] #22 closed

[2019-03-07 11:20] 360CodeSafe opened #25 "双重检查锁定"
您好：
我是360代码卫士团队的工作人员，在我们的开源项目检测计划中发现brpc-java中存在双重检查锁定代码质量问题。
com.baidu.brpc.client.loadbalance.FairStrategy.java
![image](https://user-images.githubusercontent.com/39950310/53953337-032ae080-410e-11e9-962a-73192cd2f5d8.png)

您采用了双重锁检查来延迟timmer的初始化，但仍有一定的概率得到一个未初始化的timmer对象，对于这种情况的处理，我们建议使用volatile关键字来修饰timer，保证在重排序的情况下仍能得到正确初始化的对象。

[2019-03-09 00:57] #25 closed

[2019-03-11 06:46] imotai opened #29 "请问brpc-java能不能像brpc一样做个控制台页面，包含一些性能统计指标"
rt
还有看见brpc-java的ut写了很多，点个赞。

[2019-03-11 08:03] wenweihu86 commented on #29
@imotai 目前其实有个很简单的监控信息页面，后续可以考虑完善功能。

[2019-03-15 10:50] imotai commented on #29
谢谢

[2019-03-20 01:36] wenweihu86 commented on #9
已修复。

[2019-03-20 01:36] #9 closed

[2019-03-21 00:58] Moriadry opened #31 "Consul naming service support"
As we discussed before,  ps will be available in few days. @wenweihu86

[2019-03-21 01:40] peachlin opened #32 "基于Etcd的服务注册和服务发现怎么实现，有实例代码吗？"

[2019-03-21 01:55] wenweihu86 commented on #32
@peachlin 实现NamingService和NamingServiceFactory接口，具体可参考brpc-java-naming-zookeeper。
欢迎提交pull request。

[2019-03-21 01:57] wenweihu86 commented on #31
@Moriadry expect the full request, thanks

[2019-03-28 12:13] jovany-wang opened #34 "Does It seem that we don't enable Travis CI for building and ut?"

[2019-03-28 12:49] wenweihu86 commented on #34
@jovany-wang enable Travis CI for building and ut:
https://travis-ci.org/baidu/brpc-java

[2019-03-28 12:52] jovany-wang commented on #34
Thanks, it's my fault.

[2019-03-28 12:52] #34 closed

[2019-04-01 08:14] lipeishen opened #38 "CompressManager 的单例实现中，构造函数为什么没有采用private ，而是用了protected"
![image](https://user-images.githubusercontent.com/6881761/55312942-42dcb200-5499-11e9-96b5-26351b0fb338.png)

[2019-04-01 08:33] wenweihu86 commented on #38
protected method can be called by extended class

[2019-04-03 03:51] jovany-wang commented on #38
I also think it's better to use `private` here since `protected` method can be visible to the package and all subclasses.

@wenweihu86 Or could you please explain a bit more about the reason for using `protected` here?

[2019-04-03 06:35] wenweihu86 commented on #38
@jovany-wang @lipeishen I use protected at the very start, so application can subclass  CompressManager to implement custom compress type. but I find that it is better to add method addCompress to add custom compress type now, so it may change to private constructor here, sorry.

[2019-04-03 06:42] jovany-wang commented on #38
Thanks, I'll refine it later.

[2019-04-07 09:52] zhwaaaaaa opened #47 "channel pool 发送数据的问题"
我初略看了一下你们这个源码。发现你们是从channel pool中获取一个channel，然后注册一个定时器timeout，然后做序列化，然后同步阻塞发送数据直到数据发送出去，然后回收连接。
我觉得可以换一个过程，可以省掉连接池，和定时器，不知道是否会对性能有提升。
先序列化 -> 在获取channel -> 发送数据（不需要等待数据发送出去，把数据交给netty排队）->设置定时器（使用socketChannel.eventLoop()的定时功能，把定时操作放在selector上）。
首先我觉得这个过程可以减少对每次发送对channel的占用时间，使用更少的channel就可以有相同的并发量，然后省掉了定时器线程

[2019-04-07 14:32] guohao commented on #47
+1
赞同取消同步写和 pooled 的方式，建议实现 Java 版本的 [multi 连接方式](https://github.com/apache/incubator-brpc/issues/506)。

[2019-04-08 06:14] wenweihu86 commented on #47
@zhwaaaaaa @guohao
1、channel的获取确实是应该移到序列化之后发送之前获取比较好。
2、发送时不同步等待，会有问题，我之前试过；所以定时器也要放到发送数据之前生成。
3、定时器不希望占用IO线程。
4、multi连接方式可以添加，作为连接方式的一个补充，而不是替代。

[2019-04-14 02:55] #31 closed

[2019-04-15 09:26] Reason94 opened #52 "brpc-java-spring无法替换默认RpcClientOptions配置"
如下：RpcClientOptions定义的Field均为private， brpc-java-spring的RpcAnnotationResolver.createRpcProxyFactoryBean中却使用了getFields，
顺带field.get()不能获取private变量的值
![image](https://user-images.githubusercontent.com/23076822/56121830-92e06c00-5fa3-11e9-9bb5-f4dee8e64214.png)

![image](https://user-images.githubusercontent.com/23076822/56121762-6e848f80-5fa3-11e9-9fa9-2557f8939a58.png)

[2019-04-15 13:20] wenweihu86 commented on #52
@Reason94 多谢反馈，确实有问题。可以帮忙提交pr修复下吗？

[2019-04-17 10:16] elasticlog opened #55 "brpc-java client能否访问brpc c++ Server ？"
rt，我发现brpc-java 的相关协议proto文件和brpc不一样

[2019-04-17 10:45] wenweihu86 commented on #55
可以访问的，多了extFields用于插入自定义trace字段。

[2019-04-17 10:48] wenweihu86 commented on #52
the pull request has be merged, thank you!

[2019-04-17 10:48] #52 closed

[2019-04-20 11:27] #55 closed

[2019-04-22 07:12] wenweihu86 opened #58 "refactor interceptor chain and add load balance interceptor"
1. add interceptor chain to invoke interceptor list.
2. add load balance interceptor for client, so that user can set custom load balance interceptor, such as Ribbon.
3. add ServerInvokeInterceptor for server.

the codes is at Branch "loadbalance"

[2019-04-23 06:22] #58 closed

[2019-04-23 06:23] #38 closed

[2019-04-28 09:42] JiamingMai opened #63 "交流群二维码失效了，能更新一下吗？"
交流群二维码失效了，能更新一下吗？

[2019-04-28 10:33] hushupei commented on #63
已更新

[2019-04-28 10:33] #63 closed

[2019-06-03 13:15] wenweihu86 opened #77 "add support for dubbo protocol"
1. support dubbo protocol.
2. support dubbo registry.

[2019-06-03 13:16] wenweihu86 opened #78 "add support for grpc protocol"

[2019-06-04 13:58] Kewei-Wang-Kevin commented on #78
I will pick up this issue, please assign it to me

[2019-06-07 09:22] wenweihu86 opened #80 "server shutdown gracefully"
server send to shutdown event to client when server shutdown, and client mark the instance for this channel to be unavailable on load balance.

[2019-06-10 10:33] wenweihu86 opened #83 "add support for thrift protocol"

[2019-06-19 03:37] JoeCqupt opened #86 "ServiceManager find service bug"
![image](https://user-images.githubusercontent.com/12369652/59734720-190b7e00-9285-11e9-909c-c5a530aff1b0.png)

When using the http json protocol, it doesn't work. Because the service provider's serviceMap key is the service's full path class name and method name, httpRequest only contains the service class name and method name, which causes RpcMethodInfo not found on the service provider side.

[2019-06-19 03:57] wenweihu86 commented on #86
@JoeCqupt thanks to find this issue. yes, HttpRpcProtocol.encodeRequest has bug, it should use serviceName and methodName of RpcMethodInfo, instead of target method info.
Could you please help fix this issue?

[2019-06-19 04:08] JoeCqupt commented on #86
@wenweihu86  ok   i will provide a pull request later

[2019-06-19 11:50] #86 closed

[2019-06-23 14:40] wenweihu86 commented on #77
#91

[2019-07-03 11:59] bearpapa commented on #83
I will pick up this issue, please assign it to me

[2019-07-03 12:21] wenweihu86 commented on #83
@bearpapa OK,  look forward to your pull request.

[2019-07-11 02:20] MrKingHH opened #99 "brpc 2.5.1 Demo cannot run."
I use protobuf-2.5 to generate ECHO.java file，this process is right. But when i open the RpcClientTest.java and RpcServerTest.java etc. There are many errors in these files. So what's problem with them, and what should i do to solve these problems?
![image](https://user-images.githubusercontent.com/22386359/61017191-da20a200-a3c4-11e9-8a43-0d8db8b38a34.png)

[2019-07-11 05:44] wenweihu86 commented on #99
@MrKingHH you need to run local_build.sh to generate proto files.

[2019-07-11 14:11] MrKingHH commented on #99
ok , i will try it in my linux operating system.  I  used it in windows before.

[2019-07-11 14:22] wenweihu86 commented on #99
please use mvn clean install -DskipTests under window.

[2019-07-11 14:54] MrKingHH commented on #99
![image](https://user-images.githubusercontent.com/22386359/61060877-d70dcc00-a42d-11e9-9106-0728afec3ee3.png)
![image](https://user-images.githubusercontent.com/22386359/61060859-cf4e2780-a42d-11e9-8e4f-8ae51ceddd4a.png)
Build project successfully. But there are still existing some errors. The red sections seem to indicate that there are not these methods in class **RpcClientOptions.**
![image](h

[2019-07-12 02:41] wenweihu86 commented on #99
@MrKingHH you need install Lombok plugin.

[2019-07-12 12:47] MrKingHH commented on #99
ok. when i have installed lombok plugin in IDEA, the project can run successfully. Thanks a lot!
![image](https://user-images.githubusercontent.com/22386359/61128579-d3894c00-a4e4-11e9-9367-c9a8e6b53c51.png)
![image](https://user-images.githubusercontent.com/22386359/61128590-dab05a00-a4e4-11e9-903e-da8f0f1cfdcc.png)
But i think it would be useful to add some more specific informations about how t

[2019-07-12 12:48] #99 closed

[2019-07-12 12:51] MrKingHH opened #100 "Can we support protobuf3?"

[2019-07-13 04:03] wenweihu86 commented on #100
@MrKingHH Sure! Would you please help contribute it? If not, we can do it.

[2019-07-13 15:34] MrKingHH commented on #100
I am very happy to do this.  I will use my spare time to try my best to finish the work.

[2019-07-14 11:14] wenweihu86 commented on #100
Thanks very much! please commit your codes to proto3 branch.

[2019-07-21 12:02] MrKingHH commented on #100
I only changed some files, why there 122 files changed...

[2019-07-21 12:24] jovany-wang commented on #100
@wenweihu86  What's the purpose to merge the changes of pb3 to `proto3` branch?

Why not request a PR to master directly?

If there're many changes that we should merge to `proto3` branch, I'd like to split the changes to many small PRs and merge them into master. one by one.

Look forward to your reply.

[2019-07-22 02:04] wenweihu86 commented on #100
@jovany-wang we need master to be protobuf 2.5, because it is the main stream version in baidu.

[2019-07-22 02:12] wenweihu86 commented on #100
@MrKingHH I add some comments for you pull request.

[2019-07-25 08:28] dhhua opened #104 "非http包进入到http协议解码，不抛出BadSchema，反而bad-request进入到encodeResponse抛出空指针了"
java.lang.NullPointerException: null
	at com.baidu.brpc.protocol.http.HttpRpcProtocol.encodeResponse(HttpRpcProtocol.java:410) ~[brpc-java-2.5.1.jar:na]
	at com.baidu.brpc.server.handler.DecodeWorkTask.run(DecodeWorkTask.java:130) ~[brpc-java-2.5.1.jar:na]
	at com.baidu.brpc.utils.ThreadPool.consume(ThreadPool.java:130) [brpc-java-2.5.1.jar:na]
	at com.baidu.brpc.utils.ThreadPool.access$000(Thread

[2019-07-25 08:46] dhhua commented on #104
http协议不应该是
@Override
  public boolean isCoexistence() {
        return true;
    }
的吧

[2019-07-25 09:29] dhhua opened #105 "protocol注册bug,重复的prototype不生效"
![image](https://user-images.githubusercontent.com/10860809/61863146-a33ca700-af01-11e9-9fe8-c31b150e99a3.png)

这段代码有bug，应该用protocolMap判断，protocolFactory全局没有用

[2019-07-25 11:28] wenweihu86 commented on #104
@dhhua http协议是可以和已存在的其他协议共存的，比如可用于brpc标准协议和http协议并存。
你出现的这个错误，可以给下详细的复现方法或者代码吗？

[2019-07-25 11:33] wenweihu86 commented on #105
哦，这里漏掉 protocolFactoryMap.put操作。
多谢指出。
方便的话，帮提交pr fix哈。

[2019-07-25 11:38] dhhua commented on #104
@wenweihu86 我是写了自定义一些，而且要和brpc协议并存，原本写的优先级比较低，接收的包在httpProtocol就报错了，还没到自定义协议解包，现在我是调高优先级解决了，建议以后可以配置要使用的protocol,现在只能配一个主协议，配了就只能用单协议了，不过就是可以用多端口解决，多端口注册服务对我这边不太好

[2019-07-25 12:03] #105 closed

[2019-07-25 12:03] dhhua commented on #105
已pr

[2019-07-25 12:19] wenweihu86 commented on #104
@dhhua 在httpProtocol报错了，HttpRpcProtocol.decode返回BadSchema的呀。
支持配置多个协议，确实会有这个需求，后续会支持。

[2019-07-25 12:35] dhhua commented on #104
@wenweihu86 BrpcHttpObjectDecoder在decode的时候用了HttpObjectDecoder，HttpObjectDecoder把异常直接捕获返回了bad-request了，所以不会抛出BadSchema

[2019-07-29 09:41] tkec opened #108 "brpc耗时操作怎么使用？"
在brpc-java-core-example中执行benchmark的test代码时，将om.baidu.brpc.example.standard.EchoServiceImpl中增加了一段Thread.sleep(100)，同时，调大了RpcServerTest中workthreadnum到500，但用SyncBenchmarkTest执行时，qps不到200，用异步client的benchmark，就大量超时。
业务代码是在work threadpool中执行的，有500个线程，100ms的耗时，理论上应该qps在5000左右，为什么实际只有200？有谁可以帮解答下

[2019-07-29 10:00] wenweihu86 commented on #108
@tkec SyncBenchmarkTest里默认ReadTimeoutMillis是100，建议调大一些。
另外线程数调成cpu核数试试。

[2019-07-29 10:08] tkec commented on #108
@wenweihu86 RpcServer里默认就是cpu核数吧，一开始没改也是一样的结果，结果是：success=119,fail=0,average=170722880ns。SyncBenchmarkTest测试没有超时出错。
加了options.setWorkThreadNum(500); 结果是success=190,fail=0,average=105487491ns。

[2019-07-29 11:22] wenweihu86 commented on #108
@tkec server仅仅sleep 100ms，client响应时间变成170ms了？是跑一段时间后，稳定在这个数吗？client端可以在Protocol的decodeResponse函数里打印下收到响应的时间点，确认下具体耗时在哪里。

[2019-07-29 11:34] tkec commented on #108
@wenweihu86 响应时间还没看，主要关注的是，server的性能大幅下降，只有100多qps，就算增加workthread数量也提高不了太多，这个非常奇怪。这种情况下，brpc访问数据库等耗时情况，是不是会性能也是大幅下降？

[2019-07-30 02:20] wenweihu86 commented on #108
@tkec 因为当前server实现是同步的，每个请求会占住server的线程直到请求被处理完成，所以对于io密集型server可以通过调大server的work线程数来提高并发，比如：
RpcServerOptions options = new RpcServerOptions();
options.setWorkThreadNum(100);
RpcServer rpcServer = new RpcServer(8002, options);

[2019-07-30 03:27] tkec commented on #108
@wenweihu86 嗯，上面已经加了options.setWorkThreadNum(500)，不过qps只增加到不到200，所以这里是觉得有问题。

RpcServerTest中增加的代码：
`options.setWorkThreadNum(500);`

EchoServiceImpl中增加的代码，在return之前：
`
try {
            Thread.sleep(100);
        } catch (InterruptedException e) {
            System.out.println("exception:" + e.getLocalizedMessage());
        }
`
SyncBenchmarkTest中修改的代码：
`
options.setConnectTimeoutMillis(1000);
op

[2019-07-30 14:14] wenweihu86 commented on #108
@tkec client端线程数设置跟server一样大试试。

[2019-08-01 06:25] #104 closed

[2019-08-05 03:00] tkec commented on #108
@wenweihu86 RpcClientOptions中增加了`options.setWorkThreadNum(500);`，结果没有变化，qps还是100+，延迟在170ms。
`success=119,fail=0,average=169902295ns`

[2019-08-06 06:14] wenweihu86 commented on #108
@tkec 我没表述清楚，不好意思。是把传给SyncBenchmarkTest命令行参数设置大一些

[2019-08-06 07:23] tkec commented on #108
@wenweihu86 SyncBenchmarkTest命令行的threadNum调大，就全部超时了，因为本来就是因为RpcServer处理不行，而不是客户端处理不过来，调大RpcClient的threadNum，那么就是更多的请求到sever了，threadNum=20时，还没有超时，只是qps非常小，threadNum=500时，基本都超时了。

[2019-08-08 11:38] wenweihu86 commented on #108
@tkec 这跟我本地测试的结果不太一样。我本地测试时，client调成跟server线程一样大时，并发能提高很多。

[2019-08-09 02:41] tkec commented on #108
@wenweihu86 没太明白client调成和server线程一样大是什么意思，server是只有一个server，内部是work线程，client是SyncBenchmarkTest的启动threadNum。请问有哪些详细的改动吗？我按你的修改来试试。

[2019-08-09 10:20] wenweihu86 commented on #108
SyncBenchmarkTest 启动threadNum表示有threadNum个线程在并发请求server，server得RpcServerOptions.workThreadNum得大于等于threadNum，才能保证每个client请求都在被处理。

[2019-08-10 02:32] MrKingHH opened #112 "brpc can keep the message order from client?"
Our projocet must keep the message order from client，but i am not sure whether brpc can keep or not. Can u tell me the result? @wenweihu86
Look forward to your reply.

[2019-08-10 02:49] wenweihu86 commented on #112
brpc-java does not support ordered message.  you can use message queue to keep the order.

[2019-08-10 02:51] MrKingHH commented on #112
Fine, I got it.Thanks a lot!

[2019-08-10 06:41] MrKingHH commented on #112
Sorry for reopen this issse,. I'd want to know is there `stream mode` in brpc-java? @wenweihu86
Look forward to your reply.

[2019-08-10 07:07] wenweihu86 commented on #112
@MrKingHH the java implementation does not support stream mode currently.

[2019-08-10 07:09] MrKingHH commented on #112
ok. Thanks a lot!

[2019-08-10 07:09] #112 closed

[2019-08-12 02:29] tkec commented on #108
@wenweihu86 试了下，RpcServerOptions.workThreadNum=500，SyncBenchmarkTest的threadNum=499，qps可以上去了。
那实际使用时，Server的workThreadNum基本是固定值，默认只是cpu核数，客户端并发数必须小于这个数，是不是不可控？如果大于了就超时了，那么怎么让请求不超时而只是等待，只是让处理时间会加长？

[2019-08-13 02:02] wenweihu86 commented on #108
@tkec 了解了。

[2019-08-13 11:27] wenweihu86 commented on #80
SIGINT signal can make server shutdown gracefully.
kill -2 processId
or Ctrl-C

[2019-08-13 11:27] #80 closed

[2019-08-18 06:40] jovany-wang opened #116 "The logging messages is too verbose when starting or shutting down."
The following logging messages is too verbose. I just did start a server and then did shutdown it.
[code]

What I suggest is only to show a starting logging message with address info in `INFO` level when starting like:
[code]
Other logging messages should be debug level.

[2019-08-18 06:41] jovany-wang commented on #116
If you guys think it's appropriate to do this, I'd like to request a PR to refine it.

@wenweihu86  cc

[2019-08-19 01:51] wenweihu86 commented on #116
@jovany-wang I think it's OK, please help fix it, thanks!

[2019-08-19 02:40] jovany-wang commented on #116
@MrKingHH  cc

[2019-08-19 02:43] MrKingHH commented on #116
Fine. I will do it.

[2019-08-19 03:59] #108 closed

[2019-08-21 05:33] MrKingHH commented on #100
![image](https://user-images.githubusercontent.com/22386359/63404716-e44bac80-c416-11e9-86c8-41d033ca0c4a.png)
![image](https://user-images.githubusercontent.com/22386359/63404742-fcbbc700-c416-11e9-82c3-2140ffc1adcb.png)
I have set complie jdk version in root pom.xml file. But when i run `mvn test`, the errors above are reported. I cann't figure it out just now. Can u tell me how to slove this pr

[2019-08-26 06:31] fangzi123 opened #119 "代码不全？"
com.baidu.brpc.protocol.Options 不存在吗？

[2019-08-26 06:39] Kewei-Wang-Kevin commented on #119
运行 `mvn compile`， 这个文件是由options.proto 自动生成的

[2019-08-26 06:39] #119 closed

[2019-08-26 08:54] MrKingHH opened #120 "How to shield the log of brpc-java."
![image](https://user-images.githubusercontent.com/22386359/63678559-06339d80-c822-11e9-8c8c-c69ba8d5f06f.png)
Is there have any settings to shield the log of brpc-java?

[2019-08-26 08:54] MrKingHH commented on #120
@wenweihu86

[2019-08-26 09:02] MrKingHH commented on #120
OK. I have found the resolvtion. I add the `<logger name="com.baidu.brpc" level="OFF"> </logger>` in my logback.xml.

[2019-08-26 09:02] #120 closed

[2019-08-28 08:45] QiAnXinCodeSafe opened #121 "系统信息泄露：不完善的Servlet错误处理"
https://github.com/baidu/brpc-java/blob/4101fe96028d93c6d8c2f6c5ccfc0dfdd9a525b6/brpc-java-core/src/main/java/com/baidu/brpc/protocol/http/HttpRpcServlet.java#L54
如果Servlet抛出异常，程序未进行捕获，Servlet容器将会把异常信息响应给用户，建议对Throwable异常进行捕获。

[2019-08-28 08:48] QiAnXinCodeSafe opened #122 "资源未释放：同步锁"
https://github.com/baidu/brpc-java/blob/4101fe96028d93c6d8c2f6c5ccfc0dfdd9a525b6/brpc-java-core/src/main/java/com/baidu/brpc/server/ChannelManager.java#L51
程序创建或分配同步锁资源后，不进行合理释放，将会降低系统性能甚至可能会导致死锁，建议在finally代码块中调用unlock()方法，可以保证不管是否发生异常，总会释放锁。

[2019-08-28 08:49] QiAnXinCodeSafe opened #123 "资源未释放：同步锁"
https://github.com/baidu/brpc-java/blob/4101fe96028d93c6d8c2f6c5ccfc0dfdd9a525b6/brpc-java-core/src/main/java/com/baidu/brpc/server/ChannelManager.java#L77
程序创建或分配同步锁资源后，不进行合理释放，将会降低系统性能甚至可能会导致死锁，建议在finally代码块中调用unlock()方法，可以保证不管是否发生异常，总会释放锁。

[2019-08-28 09:27] wenweihu86 commented on #121
@QiAnXinCodeSafe 核心业务执行异常捕获了。

[2019-08-28 10:11] wenweihu86 commented on #122
@QiAnXinCodeSafe 多谢，已修复。

[2019-08-28 10:12] wenweihu86 commented on #123
@QiAnXinCodeSafe 多谢，已修复。

[2019-08-28 10:52] #123 closed

[2019-08-28 10:52] #122 closed

[2019-08-29 05:09] #121 closed

[2019-09-15 07:20] iSenninha opened #125 "Fail-fast in unpack will be better?"
[BaiduRpcProtocol](https://github.com/baidu/brpc-java/blob/master/brpc-java-core/src/main/java/com/baidu/brpc/protocol/standard/BaiduRpcProtocol.java#L194-L200) now is below
[code]

change sequence like this will be better?
[code]

[2019-09-16 02:06] wenweihu86 commented on #125
why? Since notEnoughDataException is more likely to happen than TooBigDataException.

[2019-09-23 07:39] encrylife opened #130 "运行异常"
把例子下载下来运行不了，brpc-spring-boot-examples-server maven打包是可以成功，运行的时候一直提示

ERROR org.springframework.boot.SpringApplication - Application run failed                                                                                         java.lang.ExceptionInInitializerError: null

[2019-09-23 09:00] wenweihu86 commented on #130
@encrylife 看不出来啥错误。可以加下微信，把源码发给我看下。

[2019-09-24 06:57] encrylife commented on #130
好 微信多少

[2019-09-24 11:58] wenweihu86 commented on #130
@encrylife 升级到2.5.8应该就没问题了。

[2019-09-25 06:23] encrylife commented on #130
嗯 我按照你说的将`<plugin>
                <groupId>com.baidu</groupId>
                <artifactId>jprotobuf-precompile-plugin</artifactId>
                <version>1.2.15</version>
                <configuration>

                    <filterClassPackage>com.baidu</filterClassPackage>
                    <generateProtoFile>true</generateProtoFile>
                </configuration>
                <executi

[2019-09-25 06:23] #130 closed

[2019-09-26 15:01] jovany-wang opened #131 "Support asynchronous server"

[2019-09-26 15:02] jovany-wang commented on #131
I'd like to support this feature.

[2019-09-26 15:15] wenweihu86 commented on #131
@jovany-wang This is a very useful feature.

[2019-09-26 15:32] jovany-wang commented on #131
OK, I'll finish it in the next several weeks.

[2019-10-15 02:01] wenweihu86 commented on #29
Metrics可以包括：线程池相关（线程数、队列大小、队列等待时间），连接池相关（获取连接时间、连接池被占用个数、空闲个数）、Protocol相关（decodeHeader、decodeBody、processRequest、encodeResponse、encodeRequest时间）、负载均衡选择channel时间、client重试次数、client耗时。

[2019-10-15 02:27] wenweihu86 commented on #29
netty请求包大小、响应包大小、server响应时间

[2019-11-09 17:28] emmettwu opened #136 "想问下protobuf3现在能支持吗？"
我看有了proto3的分支，这个是可用的吗？

[2019-11-11 07:12] zhougit86 opened #137 "rpc client could work inproperly in multi thread condition"
loadAllExtensions function in the ExtensionLoaderManager might cause problem. e.g.
ThreadA, is loadAllExtensions and loadProtocol , to generate the protocolMap.
But ThreadB, might skip it and execute getProtocol, which will use a empty may and throw exception.

[2019-11-11 08:19] wenweihu86 commented on #137
@zhougit86 yes, ThreadB should wait ThreadA load extensions success.
Thank you for discovering the problem.
Would you please help fix it?

[2019-11-11 12:26] zhougit86 commented on #137
Hi I have submited a merge request, please help review and let me know if any problem. thanks!

[2019-11-12 04:44] wenweihu86 commented on #137
@zhougit86 thank you for you pull request, it has beed merged into master.

[2019-11-12 04:44] #137 closed

[2019-11-13 11:32] wenweihu86 commented on #136
@emmettwu 目前还在开发中，最近应该可以完成。

[2019-11-18 08:52] zhougit86 commented on #137
would you please release a new maven version? as I need to use this for on line service, thank you! @wenweihu86

[2019-11-18 09:45] wenweihu86 commented on #100
@MrKingHH upgrading the jprotobuf will resolve it.

[2019-11-20 10:18] jovany-wang commented on #29
@imotai 如果你感兴趣的话， 你也可以贡献这块

[2019-11-22 08:04] wlingxiao opened #142 "运行 com.baidu.brpc.example.http.json.RpcServerTest 一段时间后抛出了 NPE"
https://github.com/baidu/brpc-java/blob/d27a612133ec4295abb6ee7daae20144393ceed8/brpc-java-core/src/main/java/com/baidu/brpc/protocol/http/HttpRpcProtocol.java#L356

http request 中 content-type 请求头为空导致 NPE，是否应该进行非空检测？还是其它处理方法？

[2019-11-22 08:34] wlingxiao commented on #142
重启了一次之后，过去了半小时未能复现此问题

[2019-11-22 16:47] wangqifan opened #143 "出现 程序包com.baidu.bjf.remoting.protobuf不存在"
在idea中可以运行。 mvn package 打包之后 java -jar 运行后出现 程序包com.baidu.bjf.remoting.protobuf不存在

[2019-11-23 04:15] wenweihu86 commented on #143
@wangqifan 在使用jprotobuf时，api包要加入jprotobuf precompile maven plugin。

[2019-11-23 04:16] wenweihu86 commented on #142
@wlingxiao 最好应该加个非空检测，方便的话，可以提个pr帮助修复。

[2019-11-23 04:42] wangqifan commented on #143
谢谢 问题解决

[2019-11-23 08:47] wlingxiao commented on #142
@wenweihu86 如果允许content-type 为 null，这里没法处理

https://github.com/baidu/brpc-java/blob/d27a612133ec4295abb6ee7daae20144393ceed8/brpc-java-core/src/main/java/com/baidu/brpc/protocol/http/HttpRpcProtocol.java#L358

[2019-11-23 13:15] #143 closed

[2019-11-23 13:18] wenweihu86 commented on #142
@wlingxiao content-type不允许为空的。

[2019-11-26 03:47] FancyJan opened #145 "brpc-java 等于0的字段和数组值不正确"
C++ server是brpc的，比如现在server吐了两个字段，int kvalue = 0, repeated int list = [1,2]
对于 Java client 走grpc协议，能正确拿到 kvalue = 0, List<int>list = [1,2]
对于 Java client 用brpc-java客户端，拿到的 kvalue = null, List<int> list = []

弱弱问下是不是我使用方式不对，使用的方式和demo是一致的。
brpc-java版本 2.5.8
jprotobuf版本 2.2.8

[2019-11-26 05:38] wenweihu86 commented on #145
可能是jprotobuf的问题，尝试用proto原生编译出的类通信看看。

[2019-11-26 05:47] FancyJan commented on #145
嗯，我试着把生成的pb类改成https://github.com/baidu/brpc-java/blob/master/brpc-java-examples/brpc-java-core-examples/src/main/java/com/baidu/brpc/example/jprotobuf/EchoRequest.java中的这种方式之后可以拿到list的值了

[2019-11-26 09:42] wlingxiao commented on #142
@wenweihu86 我启动服务器，随意访问一个地址报错了，列如 `http://localhost:8080/hello`

[code]

应该是 https://github.com/baidu/brpc-java/blob/98eebffdc6ba8b44dac9b4997fb018f9d3a16e1d/brpc-java-core/src/main/java/com/baidu/brpc/server/handler/DecodeWorkTask.java#L69
https://github.com/baidu/brpc-java/blob/98eebffdc6ba8b44dac9b4997fb018f9d3a16e1d/brpc-java-core/src/main/java/com/baidu/brpc/server/handler/DecodeWorkTask.java

[2019-11-26 09:52] wenweihu86 commented on #145
@FancyJan 帮忙在jprotobuf里提个bug哈。
https://github.com/jhunters/jprotobuf

[2019-11-26 09:54] FancyJan commented on #145
举个例子的话
这是demo中给出的代码：
`@ProtobufClass
public class EchoResponse {
    private java.util.List<String> message;
}`
这个方式是可以正确的获得List对象的值的

这是我用jprotobuf生成的代码：
`public class EchoResponse {
@Protobuf(fieldType=FieldType.STRING, order=1, required=false)
    private java.util.List<String> message;
}`
而这个方式不行

[2019-11-26 09:55] FancyJan commented on #145
嗯 我再确认下去提下bug。

[2019-11-26 09:57] FancyJan commented on #145
我看demo给出的方法是直接在maven里使用jprotobuf插件的，而我这边是用gradle添加jprotobuf插件，自己去把proto文件转换成java文件的，可能我自己转的时候有配置没有配对可能。

[2019-11-26 10:10] wenweihu86 commented on #145
我看demo给出的方法是直接在maven里使用jprotobuf插件的，而我这边是用gradle添加jprotobuf插件，自己去把proto文件转换成java文件的，可能我自己转的时候有配置没有配对。

没太明白这句话意思？『自己去把proto文件转换成java文件』

[2019-11-26 10:13] FancyJan commented on #145
`com.baidu.bjf.remoting.protobuf.ProtobufIDLProxy.generateSource(new FileInputStream(sourcePath), new File(targetPath));`
就是把proto写好之后，用这个方法去把proto文件转成一堆java文件，再手动把这些java文件打到项目里面去。

[2019-11-26 10:47] wenweihu86 commented on #145
@FancyJan 为啥要这么做？

[2019-11-26 10:56] FancyJan commented on #145
主要是不知道gradle怎么用那个插件去引入proto。。而且之前用grpc客户端的时候这样搞可以，所以先采用这样的方式绕过去了。
然后现在的问题是同样的插件，用maven+plugin的方法产生出来的java类，和我用gradle引入同样的包生成出来的java类的格式不一样，体现在生成的代码里用的是@Protobuf注解（maven+plugin）还是@ProtobufClass注解（gradle+编译脚本）。我感觉可能现在的代码对于用@Protobuf内对于repeated字段的支持有限？

[2019-11-26 11:30] FancyJan commented on #145
jprotobuf找了个比较新的版本解决了。。。。。。打扰大佬了。。。

[2019-11-26 11:31] FancyJan commented on #145
现在的version是2.1.14，之前的版本是1.11.5

[2019-11-27 12:48] #145 closed

[2019-11-27 12:51] wenweihu86 commented on #142
@wlingxiao 不应该在这个if分支处理，应该在HttpRpcProtocol里处理。

[2019-11-27 13:06] senyer opened #146 "Add builder for options"

[2019-11-29 02:54] MrKingHH commented on #136
Got it! Thx.

[2019-12-01 08:35] jovany-wang commented on #131
@wenweihu86
I'd like to use `CompletableFuture` to support async server with its client. If this sounds good to you, I will send a simple document on this design.

Please let me know your thoughts, thanks.

[2019-12-09 06:01] wenweihu86 commented on #146
#150

[2019-12-09 06:01] #146 closed

[2019-12-19 08:40] zhougit86 opened #154 "what's the meaning of rpcFuture is null, server return to slow, logId=781080158"
what's the meaning of rpcFuture is null, server return to slow, logId=781080158

does this mean the server return is too slow?

looks like this has something to do with the FastFutureStore. My understanding is the the client side clear the fastFutureStore. if the server return too slow , will cause no future can be found?

[2019-12-19 11:08] zhougit86 commented on #154
@wenweihu86 Can you please help clarify

[2019-12-19 12:48] wenweihu86 commented on #154
@zhougit86 yes, it is because server returning response is slower than client's readTimeout, therefore client timeout is executed to remove rpc future.

[2019-12-19 14:36] zhougit86 commented on #154
删除rpc future在哪块代码能麻烦指导下吗

[2019-12-20 02:36] wenweihu86 commented on #154
@zhougit86 RpcTimeoutTimer里会调用ChannelInfo.removeRpcFuture删除，每个协议在decodeResponse时也会删除。

[2019-12-23 10:50] wenweihu86 commented on #142
fixed by #151

[2019-12-23 10:50] #142 closed

[2020-01-02 05:17] #154 closed

[2020-02-26 11:04] wenweihu86 commented on #136
@emmettwu @MrKingHH master已支持protobuf 3.x

[2020-02-26 11:04] #136 closed

[2020-02-27 00:54] wenweihu86 commented on #100
master has supported protobuf 3.x

[2020-02-27 00:54] #100 closed

[2020-02-27 00:54] wenweihu86 commented on #77
master has supported dubbo protocol

[2020-02-27 00:54] #77 closed

[2020-02-29 04:14] shangjiuliu opened #157 "支持泛化调用么"
在代码里没找到关于泛化调用的支持
如果目前不支持的话 有支持计划么

[2020-02-29 14:41] wenweihu86 commented on #157
@shangjiuliu 目前还不支持，可以近期支持。

[2020-03-17 03:29] FancyJan opened #158 "java.lang.RuntimeException: protocol not exist, type=1"
client样例中的代码是这样给出的：
`        RpcClient rpcClient = new RpcClient(serviceUrl, clientOption, interceptors);`

但实际运行的时候出现了下面的代码在new RpcClient的时候没有走到的情况：
`ExtensionLoaderManager.getInstance().loadAllExtensions("UTF-8");`

导致出现java.lang.RuntimeException: protocol not exist, type=1的报错（1对应baidustd协议）

[2020-03-17 08:01] FancyJan commented on #158
如果并行地去创建RpcClient的实例的话，会有问题。或者是否可以修改一下RpcClient中对于ExtensionLoaderManager是否初始化完全的判断？

[2020-03-19 03:13] wenweihu86 commented on #158
@FancyJan 我知道原因了，是因为并行new RpcClient时，没抢到ExtensionLoaderManager加载的线程没有去等待extension加载完成。这里需要优化下。RpcClient一般建议在系统启动时，去加载。请问你们是什么场景，需要在运行时，实时new RpcClient？

[2020-03-22 08:22] FancyJan commented on #158
场景是服务启动的时候需要加载多个不同rpc服务的RpcClient，为了提高启动效率采用了并行。所以会并行去new几个RpcClient。现在依靠把LoadAllExtensions放到并行new RpcClient之前解决了这个问题。

[2020-03-28 03:05] Huang-ShuXing opened #159 "Brpc创建bean失败"
springboot 项目集成brpc，服务间调用，注入brpc接口；启动的时候经常会报bean创建失败，重启有可能解决该问题，但是比较困难

brpc 2.5.9版本

代码
@slf4j
@service
public class UserRemoteServiceImpl implements UserRemoteService {
@RpcProxy
InsideUserInfoApiService userInfoService;

}

错误日志：
2020-03-28 10:44:10,341 [main] [SpringApplication.java:842] [ERROR SpringApplication] - Application run failed
org.springframework.beans.factory.BeanCreationException:

[2020-03-31 09:48] FoghostCn commented on #131
The simplest scenario can be considered as rpc proxy. Asynchronous may effectively improve throughput. `CompletableFuture` may be a good choice. I think the asynchronous implementation in the client can also use `CompleteFuture` instead of callback, thanks

[2020-04-07 08:47] raptium opened #162 "Memory leak in HTTP protocols"
When `BrpcHttpObjectDecoder.decode()` is called, a `BrpcHttpObjectAggregator` instance is created and used to aggregate tcp packets into complete HTTP messages. `decode()` returns `null` if there is not enough data in buffer, however `BrpcHttpObjectAggregator` retains `ByteBuf` even if there is not enough data to form a complete HTTP message.

This affects all HTTP protocol implementations using `

[2020-04-13 02:37] OZC123456789 commented on #159
我也遇到一样的问题了，找到问题出在哪里了吗，怎么解决？

[2020-04-14 09:30] OZC123456789 opened #163 "no available instance"
与spring集成时，调用的是c++的服务；注册中心是consul
application.yml:
brpc:
  global:
    naming:
      namingServiceUrl: consul://172.xx.xx.xx:8500
      ignoreFailOfNamingService: false
    client:
      maxTryTimes: 3
      workThreadNum: 1
      ioThreadNum: 1

api接口：
public interface WeixinService {
    @BrpcMeta(serviceName = "service.comm.project.weixin.WeixinService", methodName = "getOpenid")
    OpenidResp

[2020-04-17 07:18] Delostik opened #164 "打包3.0.0报错"
mvn clean install -DskipTests

[INFO] Scanning for projects...
[WARNING]
[WARNING] Some problems were encountered while building the effective model for com.baidu:brpc-spring-boot-examples-server:jar:3.0.0
[WARNING] 'build.plugins.plugin.version' for org.springframework.boot:spring-boot-maven-plugin is missing. @ line 100, column 21
[WARNING]
[WARNING] Some problems were encountered while building

[2020-04-17 08:21] #164 closed

[2020-04-20 02:07] OZC123456789 commented on #163
ConsulNamingService 2.5.9
![image](https://user-images.githubusercontent.com/37678256/79707248-6665db00-82ee-11ea-9bd7-734392b7ede8.png)
3.0.0
![image](https://user-images.githubusercontent.com/37678256/79707273-85646d00-82ee-11ea-8254-965afed417c1.png)
好像是因为这个问题，请尽快更新maven版本，谢谢。

[2020-04-22 09:57] Huang-ShuXing commented on #159
可以将cglib的版本升级到3.2.6试试

[2020-04-22 13:18] Huang-ShuXing commented on #159
asm包冲突了，看看是不是有asm-all的包，去掉

[2020-04-26 09:07] Honei opened #166 "java client 是否支持流式数据传输"
我是 brpc 开发了 server 端，然后映射成了 restful 接口。但是最近传输大数据时，会出现超时问题。现在想转换为流式数据传输。server 端是 C++，请问 java 端的 client 是否支持流式数据传输。

[2020-04-27 07:32] Huang-ShuXing opened #167 "RpcContext.logId可否从Integer改为Long"
如题

[2020-04-27 12:41] lvjg opened #168 "OOM"
brpc-java在处理100KB以上http请求，在压力大情况下会有OOM的情况，导致服务不可用。
验证方式：发送100KB以上http body，极限压力下，堆外内存会持续上涨。

[2020-04-30 01:58] raptium commented on #168
如果只是 HTTP 协议，那么 #162 重复了。
其它协议的你可以复现吗？

[2020-05-07 01:49] raptium commented on #167
我觉得可以改，现在 `Request` 上的 `logId` 就是 `long` 型。
不过需要注意的是，某些使用固定长度 `logId` 字段的协议比如 `NSHead` 可能不支持。
@wenweihu86 看下？

[2020-05-07 01:53] raptium commented on #162
We now have a quick and dirty fix in 1926856d1cbbf35ea964df9387b3e65b80b9e8f8.

Maybe we should refactor the HTTP protocol implementation to get a better resolution.

[2020-05-07 12:41] cangfengzhs opened #172 "example.EchoService对应的class是哪一个"
rt

找了很久没找到，参考echo实现自己的client时找不到method

[2020-05-08 08:48] Delostik opened #173 "已经用protoc工具生成包了怎么使用"
我们这边proto已经用protoc-gen-grpc-java打成了一个包（是proto3的），以前用grpc的时候可以直接加载这个包，然后newBlockingStub(channel).echo(request)来调用。

要切成brpc，还能用这个打好的包吗

[2020-05-09 08:29] wenweihu86 commented on #173
@Delostik Request Response可以复用的，interface需要自己定义。

[2020-05-09 08:30] wenweihu86 commented on #172
Service接口是需要自己定义的。

[2020-05-09 08:32] wenweihu86 commented on #167
可以改成Long的，如果具体协议传输时使用的是int，可能会被截断。

[2020-05-09 08:33] wenweihu86 commented on #166
目前不支持

[2020-05-09 16:32] mtnan opened #174 "Client NPE"
https://github.com/baidu/brpc-java/blob/4f1a46479c38129f0f07f6bfda8e69a07d870ee5/brpc-java-governance/src/main/java/com/baidu/brpc/client/RpcClient.java#L205

options == null的时候这里会NPE

[2020-05-10 04:00] Delostik commented on #173
@wenweihu86 看起来应该就是写一个interface，然后把原来的getstub改成用brpc的service就好了……
但是一直在报下面这个错误。我们有鉴权的interceptor，在服务端看到已经连上来并且鉴权成功了。但是服务端没收到request……
com.baidu.brpc.exceptions.RpcException: unknown error
	at com.baidu.brpc.client.BrpcProxy.executeWithRetry(BrpcProxy.java:299)
	at com.baidu.brpc.client.BrpcProxy.intercept(BrpcProxy.java:248)
	at com.echo.test.TestService$$EnhancerByCGLIB$$95d41fbd.Ping(<generated>

[2020-05-16 01:24] raptium commented on #163
3.0.0 版本已发布，关闭此 Issue

[2020-05-16 01:24] #163 closed

[2020-05-20 06:02] Delostik commented on #173
的确是替换request、response，再定义interface就可以，之前遇到的问题是interceptor有问题，感谢

[2020-05-20 06:02] #173 closed

[2020-05-25 05:52] lvjg commented on #168
BAIDU_STD也会

[2020-05-29 13:09] ssolid2014 opened #179 "请问example中的async client call为什么是async,最终不是会阻塞当前线程吗?"
Hi, 感谢你们开源了这个代码,我想请教一个问题,example中的RpcClientTest.java里面的async client call的代码,如下

        EchoServiceAsync asyncEchoService = BrpcProxy.getProxy(rpcClient, EchoServiceAsync.class);
        try {
            Future<Echo.EchoResponse> future = asyncEchoService.echo(request, callback);
            try {
                Echo.EchoResponse response = future.get(1000, TimeUnit.MILLISECONDS);

[2020-06-10 02:58] wenweihu86 commented on #179
这里只是列举了async的发送和获取结果的使用方法。实际应用可以这样用：并行请求多个服务，然后在顺序调用各个服务返回的future.get()。

[2020-06-10 06:07] ssolid2014 commented on #179
谢谢你的解答,不过我还是有一点疑问,如果我的业务逻辑是调用A服务,做点处理,再调用B服务,做点处理,再调用C服务,那这整个过程中,处理业务逻辑的进程实际上是无法切换出去处理其他业务逻辑的对么?

[2020-06-12 04:00] wenweihu86 commented on #179
是的，因为后续的逻辑要依赖每次rpc调用的结果。

[2020-06-15 02:21] #174 closed

[2020-06-15 11:41] xiaobinshe commented on #179
thanks.

[2020-06-15 11:42] ssolid2014 commented on #179
多谢解答.

[2020-06-15 11:42] #179 closed

[2020-06-24 05:22] #167 closed

[2020-06-30 12:29] #159 closed

[2020-07-07 08:36] guozhulang opened #183 "RpcClent LoadBalancer是否支持Locality-aware load balancing策略"
brpc-cpp：https://github.com/apache/incubator-brpc/blob/master/docs/cn/lalb.md
brpc-java  是否支持Locality-aware load balancing策略

[2020-07-07 12:04] jovany-wang commented on #131
@FoghostCn
Maybe it's better to support both of the callback client and `CompletableFuture` client.

Another issue is that we should upgrade the JDK version to 1.8+.

[2020-07-08 09:42] shawn-deng commented on #157
@wenweihu86 请问泛化调用支持了吗，有计划什么时候支持吗？

[2020-07-12 09:36] wenweihu86 commented on #183
@guohao Fair负载均衡就是类似的算法

[2020-07-29 08:35] Zack-Ku opened #186 "With the brpc processing, CPU cost will growth？"
After my  program run for days , I find cpu cost much than beginning, and must restart the program.
I use arthas find out when channel is inactive , brpc will clean the FastFutureStroe ,that cost 600ms avg  .At the begging just cost few ms.
![image](https://user-images.githubusercontent.com/19411268/88775487-57c57480-d1b7-11ea-8215-d77568c782af.png)
I check the code ,find maybe the slot id growth

[2020-07-30 05:38] LuciferYang opened #188 "Upgrade Netty-all version to fix CVE"
Netty 4.4.42 has some known security issues as following:

- [CVE-2019-20444](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-20444) , before 4.1.44
- [CVE-2019-20445](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-20445), before 4.1.44
- [CVE-2020-11612](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-11612), before 4.1.46

[2020-07-30 12:49] sixbyter commented on #186
we have same problem.

[2020-07-31 03:33] jinhang opened #189 "how to change grpc to brpc in project?"

[2020-08-01 04:24] ssolid2014 opened #190 "DynamicCompositeByteBuf in ChannelInfo is not released from anywhere, will this casue some kind of leak?"

[2020-08-01 08:44] raptium commented on #188
I am closing this as pull request #187 has been merged.

[2020-08-01 08:44] #188 closed

[2020-08-01 08:49] raptium commented on #186
@wenweihu86 Could you please take a look into this issue? I am not familiar with the `FastFutureStore`.

[2020-08-03 02:11] LuciferYang commented on #188
@raptium thx ~

[2020-08-03 03:04] Delostik opened #191 "求最新的微信二维码……"
过期了QAQ

[2020-08-05 05:22] raptium commented on #191
已更新，可能被 GitHub 缓存了。用链接直接看吧 https://brpc-java.cdn.bcebos.com/qrcode.jpeg 。

[2020-08-08 13:31] #191 closed

[2020-09-14 08:12] lmcklm opened #196 "client没有健康检查吗？"
我看线上没有开启健康检查，而且健康检查有bug吧，在getHealthyInstances获取到instance以后用isInstanceHealthy检查的时候，健康的会加newUnhealthyInstances，if判断有问题

[2020-09-15 08:47] liuyueve opened #197 "更新一下二维码吧，想加个群"
@raptium

[2020-09-16 04:13] liuyueve opened #198 "PROTOCOL_HTTP_JSON 协议下，void返回值无法处理"
version: 3.0.1

### 复现方法

接口: 源码包 com.baidu.brpc.example.http.json.EchoService
将第一个方法返回值修改为void
[code]
其余测试用例做相应修改后执行

#### 期望结果
正常执行，返回void

#### 实际结果
日志输出如下异常
[code]

#### 补充说明

其他协议处理void返回值也会有报错的情况

[2020-09-25 07:08] wittyv opened #200 "注册到eureka注册中心时出现null指针错误:版本3.0.2"
问题描述:
    启动一个eureka服务端,再启动spring-cloud-brpc-examples中的server和client模块,server可以正常启动,client报错如下:
Caused by: java.lang.NullPointerException: null
	at java.util.concurrent.ConcurrentHashMap.get(ConcurrentHashMap.java:936)
	at com.baidu.brpc.client.channel.BootstrapManager.getOrCreateBootstrap(BootstrapManager.java:43)
	at com.baidu.brpc.client.channel.AbstractBrpcChannel.<init>(AbstractBrpcChannel.ja

[2020-09-27 02:28] QiAnXinCodeSafe opened #201 "Spring Framework 3.2.11.RELEASE版本存在多个漏洞 建议升级"
https://github.com/baidu/brpc-java/blob/bcf9a877673547d47098f52eea1af190fdab8a09/brpc-spring/pom.xml#L32

Spring Framework 3.2.11.RELEASE版本存在CVE-2018-1270，CVE-2018-1272、CVE-2016-9878、CVE-2015-5211
等，
推荐升级版本：
4.3.29.RELEASE

[2020-10-07 11:52] Delostik opened #202 "SingleChannle中getChannel是否会泄露连接？"
请问BrpcSingleChannel中
[code]
没看到有旧channel关闭的代码，是否会泄露？谢谢

[2020-10-12 09:35] QiAnXinCodeSafe opened #203 "Spring Framework 3.2.11.RELEASE存在多个安全漏洞，建议升级"
https://github.com/baidu/brpc-java/blob/bcf9a877673547d47098f52eea1af190fdab8a09/brpc-spring/pom.xml#L30-L34

Spring Framework 3.2.11.RELEASE存在CVE-2018-1270、CVE-2015-5211、CVE-2018-1272等安全漏洞
推荐升级版本：
4.3.29.RELEASE

[2020-10-29 03:23] h-zh-cn commented on #186
Will it be fixed soon ???

[2020-10-29 06:28] Delostik opened #205 "启动多个server，最后一个会覆盖之前所有"
简化场景：某服务提供一个ping接口，在response的data字段中返回自己的名字。

EchoService.java
[code]

EchoServiceImpl.java
[code]
Demo.java
[code]
不管请求发给哪个端口，返回都是serverB。如果注册更多server，永远返回的是最后注册的那个。

[2020-10-29 06:38] Delostik commented on #205
看起来好像是因为serviceManager是单例，serviceMap只用了method name和协议做key……感觉这个是不是不太友好。。grpc并不是这样的……

[2020-12-17 09:46] chen-xl-dev commented on #131
Expect asynchrony on the server side. If the server has network operation, asynchronous server can bring more performance improvement. Take a look at joyrpc.

[2020-12-23 06:37] liujiahaoGit opened #206 "运行brpc-spring-boot-examples 注册中心用consul 启动server端和client端的主启动类时为什么老报空指针异常"
![image](https://user-images.githubusercontent.com/51878500/102978031-d3490900-453e-11eb-8cb1-bd89cd925bf0.png)

![image](https://user-images.githubusercontent.com/51878500/102967184-5ad94c80-452c-11eb-8bcf-97c2785cb66d.png)
这是什么原因呢

[2021-01-12 10:11] stdpain opened #207 "proto message 中引入其他 message中的枚举变量会报错"
[code]
maven 编译阶段会报错:
[code]

直接执行 protoc --java_out=. ./*.proto 是没问题的，是否是brpc-java插件的问题呢

[2021-01-15 03:21] QiAnXinCodeSafe opened #208 "There is a vulnerability in protobuf 2.5.0,upgrade recommended"
https://github.com/baidu/brpc-java/blob/8556f7cf2c8e5fcea5151a43c948ad4eda5e3646/pom.xml#L38

CVE-2015-5237

Recommended upgrade version：
3.4.0

[2021-01-15 03:33] QiAnXinCodeSafe opened #209 "There is a vulnerability in Spring Framework 3.2.11.RELEASE,upgrade recommended"
https://github.com/baidu/brpc-java/blob/8556f7cf2c8e5fcea5151a43c948ad4eda5e3646/brpc-spring/pom.xml#L32

CVE-2018-1270  CVE-2020-5421  CVE-2018-1271  CVE-2018-1272  CVE-2015-5211

Recommended upgrade version：
4.3.28-1

[2021-01-15 09:28] YK-Leung commented on #157
请问支持了么

[2021-01-20 12:05] beihaifeiwu opened #210 "BrpcSingleChannel 关闭后仍然会有重连操作"
[code]
ReConnectTask 中未校验channelGroup是否已close,  服务端有大量节点存在时，关闭时会报大量重连失败的日志， 并且进程退出的时间也会延后（等待重连线程中的任务执行）

[2021-03-03 06:38] dayongll opened #211 "在客户端使用@RpcProxy注解去发现服务报错：com.baidu.brpc.exceptions.BadSchemaException: not valid magic head for brpc"
package org.example.controller;

import com.baidu.brpc.example.standard.Echo.EchoRequest;
import com.baidu.brpc.example.standard.Echo.EchoResponse;
import java.util.concurrent.Future;
import org.example.service.RpcClientService;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.Re

[2021-03-10 12:11] MissiontoMars opened #212 "压测代码链接404"
https://github.com/baidu/brpc-java/blob/master/brpc-java-examples/src/main/java/com/baidu/brpc/example/standard/BenchmarkTest.java

压测代码没有了，能提供一下吗？

[2021-06-02 12:03] sushe2111 opened #213 "health检查bug？"
https://github.com/baidu/brpc-java/blob/8556f7cf2c8e5fcea5151a43c948ad4eda5e3646/brpc-java-governance/src/main/java/com/baidu/brpc/naming/HealthyCheckTimer.java#L66
检查healthInstances队列是否为UnHealth, 是不是应该为if( ！isHealthy) { newUnhealthyInstances.add(instance);}
当前发现healthInstaces与UnhealthInstances不停的切换。 如果下游服务进行灰度上线的话，负载均衡策略是不是就会有问题呢？

[2021-06-29 09:59] wangwei418 opened #217 "java作为server端同时需要给C++和java 提供服务 基于proto 定义 给C++ 那java端的api接口 是自己定义还是基于proto生成？"
如题，请各位大佬指教

[2021-07-02 07:35] wangwei418 opened #218 "zookeeper作为注册中心 服务启动写入的不是临时节点？？？"
服务都已经停止了  zk的节点还一直都在？请问这个怎么做故障转移？ 还没来得及看源码 难道客户端一直去重试zk上注册的地址吗？

[2021-07-08 12:02] psylambda commented on #205
+1 这个不太友好

[2021-07-29 07:29] WingsGo commented on #166
@wenweihu86 这个功能有计划支持么，或者可以提供下思路该如何实现么

[2021-08-04 08:14] WingsGo opened #219 "brpc-java support streaming mode"
@wenweihu86 Hi, I want to implement streaming mode in brpc-java, can you give me some advice how to implement it? Thanks for your replay

[2021-09-06 15:28] chenzhiguo commented on #32
Mark

[2021-09-29 02:58] chestnutWang commented on #213
https://github.com/baidu/brpc-java/blob/8556f7cf2c8e5fcea5151a43c948ad4eda5e3646/brpc-java-governance/src/main/java/com/baidu/brpc/naming/NamingServiceProcessor.java#L164

我也遇到这个问题，还有如果配置的都是健康的节点，这个bug会导致健康的节点都到了UnhealthInstances，然后getinstance会从UnhealthInstances取节点

[2021-09-29 11:40] haijunzou1985 commented on #162
那这次请求，是没有返回的。解析不出请求,break了

[2021-09-29 11:56] haijunzou1985 opened #221 "粘包拆包的解决方案有么？"
http 协议，会报NotEnoughDataException。然后就break了，那这次请求就无效率，客户端就不能获取到正常的结果了

[2021-10-20 08:46] TuJianwei opened #222 "Brpc java client 调用"
请问下服务端使用 brpc c++ + proto提供服务注册在zookeeper上，客户端使用java如何根据zk伤的节点进行相应方法的调用

[2021-10-28 11:25] Qsimple opened #223 "Why NShead protocol can't coexistence with other protocols"
Hi, dear dev team:
  I wonder why NShead protocol can't coexistence with other protocols, wish your response ,tks

[2021-11-09 02:17] FoghostCn commented on #221
与其在这里提问不如自己试试

[2021-11-12 12:43] gddghs opened #224 "请问下rpc server端能支持返回空对象吗"
亲爱的作者，你好！
对于RPC server端的实现类，通常的写法是需要返回TestRpcResponse 对象，如下：
 @Override
public TestRpcResponse test(TestRpcRequest req) {
       TestRpcResponse resp = new TestRpcResponse();
       resp.setRid("middle");
       return resp;
}

但有些时候调用方法，不需要返回值，都需要手动new一个obj，停繁琐的，请问下能像下面这样支持吗？
 @Override
public void test(TestRpcRequest req) {
       System.out.println(0);
}
或者

 @Override
public TestRpcResponse te

[2021-11-12 13:06] gddghs commented on #63
请问现在有新的群二维码吗？

[2021-11-13 02:20] gddghs commented on #224
因为我想在使用rpc call的同时使用push功能，protocolType只能选择ProtocolType.PROTOCOL_SERVER_PUSH_VALUE了，但是这个协议类型不支持在call的时候返回空对象

[2021-11-16 06:54] summaryzb opened #225 "bug fix of hulu protocol attachment"
hulu protocol获取 attachment时会附带 request proto的内容

[2021-11-27 02:24] gddghs opened #227 "brpc-java RpcServer.shutdown()报错"
![image](https://user-images.githubusercontent.com/19387347/143665231-c663401e-610f-4005-aaa5-a1d16fd5743b.png)
关闭rpcServer时，netty报错了，什么情况呀

[2021-11-27 02:42] gddghs commented on #227
就是rpcserver已经关闭了，但rpc client还在向 rpc server提交任务，才导致报错，怎么处理呢

[2021-12-03 07:52] #207 closed

[2021-12-14 06:28] toFindMore opened #230 "com.baidu.brpc.naming.HealthyCheckTimer 健康检查逻辑问题"
66行 if (isHealthy) {...} 逻辑判断有问题，导致健康服务被归为不健康

[2022-01-12 13:06] gddghs opened #235 "这是什么代码？"
@Slf4j
public class ServerInvokeInterceptor extends AbstractInterceptor {

    @Override
    public void aroundProcess(Request request, Response response, InterceptorChain chain) throws RpcException {
        try {
            response.setResult(request.getTargetMethod().invoke(request.getTarget(), request.getArgs()));
        } catch (InvocationTargetException ex) {
            Throwable targetEx

[2022-01-19 12:19] welsonzhang opened #236 "Java brpc client 如何获取 远端的ip port"
rpc 调用之后，想知道调用远端的ip port，
从rpc上下文获取到的接口发现都是null的
RpcContext.getContext().getChannel()
RpcContext.getContext().getRemoteAddress()

尝试使用AOP获取，但是发现，并不能获取远端的ip port

都是先执行完其他AOP，才会调用ClientInvokeInterceptor，

// 代码1：初始化注入AOP
public CommunicationClient(
            ServiceInstance serviceInstance,
            CommunicationOptions communicationOptions,
            List<Interceptor> interceptors) {

[2022-03-01 13:52] welsonzhang commented on #236
只能自己新建一个Brpc Proxy，在里面添加对应的代码：

`            } finally {
                if (request.getCommunicationClient() != null) {
                    SocketAddress socketAddress = new InetSocketAddress(
                            request.getCommunicationClient().getServiceInstance().getIp(),
                            request.getCommunicationClient().getServiceInstance().getPort());
                    R

[2022-03-28 13:15] hustqy opened #238 "HealthyCheckTimer 发现可用机器列表bug，如果机器重启，roundRobin会导致流量分配不均"
如题

[2022-03-28 13:19] tullyliu commented on #213
3.0.3版本已修复，感谢各位

[2022-03-28 13:19] #213 closed

[2022-03-28 13:31] hustqy commented on #238
新版本衣袖

[2022-03-28 13:31] #238 closed

[2022-04-19 06:24] #235 closed

[2022-04-19 07:10] gddghs commented on #197
请问你加到了吗？我也想加个群，

[2022-04-19 07:20] tullyliu commented on #197
看首页最末位有个管理员微信，加了可以帮忙拉群

[2022-04-19 07:20] #197 closed

[2022-04-19 07:26] gddghs commented on #197
这个图片加载不出来了

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "baidu/brpc-java"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年4月19日(星期二) 下午3:20
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [

[2022-04-24 02:48] liuyueve commented on #197
这个你加到了嘛，没加到可以加我微信

[2022-04-28 07:50] KeeProMise opened #240 "怎么支持广播"

[2022-05-25 07:40] dragon-zhang opened #242 "问下brpc-java有计划捐给apache吗?"

[2022-05-27 09:14] qiuhuakang commented on #55
可以麻烦问一下，有没有brpc-java client请求brpc c++ Server的例子呀

[2022-08-13 08:19] dragon-zhang commented on #157
server: https://github.com/baidu/brpc-java/blob/master/brpc-java-examples/brpc-java-core-examples/src/main/java/com/baidu/brpc/example/jprotobuf/RpcServerTest.java

GenericService
[code]
generic call client
[code]

[2022-10-03 18:20] #198 closed

[2022-10-03 18:20] #200 closed

[2022-10-03 18:20] #201 closed

[2022-10-03 18:20] #202 closed

[2022-10-03 18:20] #203 closed

[2022-10-03 18:20] #205 closed

[2022-10-03 18:20] #206 closed

[2022-10-03 18:20] #208 closed

[2022-10-03 18:20] #209 closed

[2022-10-03 18:20] #210 closed

[2022-10-03 18:20] #211 closed

[2022-10-03 18:20] #212 closed

[2022-10-03 18:20] #217 closed

[2022-10-03 18:20] #218 closed

[2022-10-03 18:20] #219 closed

[2022-10-03 18:20] #221 closed

[2022-10-03 18:20] #222 closed

[2022-10-03 18:20] #223 closed

[2022-10-03 18:20] #224 closed

[2022-10-03 18:20] #225 closed

[2022-10-03 18:20] #227 closed

[2022-10-03 18:20] #230 closed

[2022-10-03 18:20] #242 closed

[2022-10-03 18:21] #8 closed

[2022-10-03 18:21] #47 closed

[2022-10-03 18:21] #78 closed

[2022-10-03 18:21] #83 closed

[2022-10-03 18:21] #116 closed

[2022-10-03 18:21] #125 closed

[2022-10-03 18:21] #131 closed

[2022-10-03 18:21] #157 closed

[2022-10-03 18:21] #158 closed

[2022-10-03 18:21] #162 closed

[2022-10-03 18:21] #166 closed

[2022-10-03 18:21] #168 closed

[2022-10-03 18:21] #172 closed

[2022-10-03 18:21] #186 closed

[2022-10-03 18:21] #189 closed

[2022-10-03 18:21] #190 closed

[2022-10-03 18:21] #196 closed

[2022-10-11 00:42] mghio commented on #55
同问？

[2022-10-31 12:28] yyhclimacool opened #283 "请问brpc-java不支持一致性hash负载均衡策略吗？"
已知的负载均衡算法有如下：https://github.com/baidu/starlight/blob/brpc-java-v3/docs/cn/client.md#%E8%B4%9F%E8%BD%BD%E5%9D%87%E8%A1%A1

[2022-11-30 10:49] Sleaon commented on #236
可以加一个Interceptor , 在拦截器里面获取 request.getCommunicationClient().getServiceInstance().getIp()